@import "tailwindcss";

:root {
  --background: #f3ede2;
  --foreground: #171717;
  --main: #4f5532;
  --secondary: #f3ede2;
  --contrast: #6a4a3c;
  --textColor: #6a4a3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-contrast: var(--contrast);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--secondary);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

.font-benton-light {
  font-family: var(--font-benton-light), sans-serif;
}

.font-benton-regular {
  font-family: var(--font-benton-regular), sans-serif;
}

.font-central-light {
  font-family: var(--font-central-light), serif;
}

.font-central-regular {
  font-family: var(--font-central-regular), serif;
}
